<mwc-drawer id="drawer" hasHeader type="modal">
  {{> sidebar this}}
  <div slot="appContent" class="app-content">
    {{> top-app-bar this}}
    <mwc-linear-progress id="progress"></mwc-linear-progress>
    <main class="flex-layout">
      <div class="flex-content">
        <div id="credentials"></div>
      </div>
      {{> footer this}}
    </main>
  </div>
</mwc-drawer>
<mwc-dialog
  id="dialog"
  heading="Sign-in"
  scrimClickAction=""
  escapeKeyAction="">
  <div id="firebaseui-auth-container"></div>
</mwc-dialog>
