<mwc-top-app-bar-fixed id="top-app-bar">
  <mwc-icon-button id="menu" slot="navigationIcon" icon="menu"></mwc-icon-button>
  <span slot="title">WebAuthn Demo</span>
  <mwc-icon-button
    id="user-icon"
    slot="actionItems"
    icon="account_circle"></mwc-icon-button>
  <div id="header-buttons" class="flex-horizontal list-right">
    <ul class="list-right">
      <li>
        <mwc-button
          id="isuvpaa-button"
          raised
          title="Calls IsUserVerifyingPlatformAuthenticatorAvailable. Returns &quot;true&quot; if the device supports an internal authenticator, and &quot;false&quot; if the device does not. (E.g., fingerprints on Android or TouchID on MacOS)">
          isUVPAA</mwc-button>
      </li>
      <li>
        <mwc-button
          id="platform-button"
          icon="fingerprint"
          raised
          title="A convenience method to register an internal authenticator. This is equivalent to calling MakeCredential with AttachmentType=Platform">
          Register platform authenticator</mwc-button>
      </li>
      <li>
        <mwc-button
          id="credential-button"
          icon="key"
          raised
          title="Calls MakeCredential to register a new credential from a FIDO device">
          Register new credential</mwc-button>
      </li>
      <li>
        <mwc-button
          id="authenticate-button"
          icon="login"
          raised
          title="Calls GetAssertion to request an assertion from a previously-registered FIDO device">
          Authenticate</mwc-button>
      </li>
    </ul>
  </div>
</mwc-top-app-bar-fixed>