<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <welcome-file-list>
    <welcome-file>Home</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.google.webauthn.gaedemo.server.OfyHelper</listener-class>
  </listener>

  <security-constraint>
    <web-resource-collection>
      <url-pattern>/_ah/spi/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>all-others</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <context-param>
    <param-name>name</param-name>
    <param-value>webauthn-demo</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FinishMakeCredential</display-name>
    <servlet-name>FinishMakeCredential</servlet-name>
    <servlet-class>com.google.webauthn.gaedemo.servlets.FinishMakeCredential</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinishMakeCredential</servlet-name>
    <url-pattern>/FinishMakeCredential</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeginMakeCredential</display-name>
    <servlet-name>BeginMakeCredential</servlet-name>
    <servlet-class>com.google.webauthn.gaedemo.servlets.BeginMakeCredential</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeginMakeCredential</servlet-name>
    <url-pattern>/BeginMakeCredential</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeginGetAssertion</display-name>
    <servlet-name>BeginGetAssertion</servlet-name>
    <servlet-class>com.google.webauthn.gaedemo.servlets.BeginGetAssertion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeginGetAssertion</servlet-name>
    <url-pattern>/BeginGetAssertion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisteredKeys</display-name>
    <servlet-name>RegisteredKeys</servlet-name>
    <servlet-class>com.google.webauthn.gaedemo.servlets.RegisteredKeys</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteredKeys</servlet-name>
    <url-pattern>/RegisteredKeys</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCredential</display-name>
    <servlet-name>RemoveCredential</servlet-name>
    <servlet-class>com.google.webauthn.gaedemo.servlets.RemoveCredential</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCredential</servlet-name>
    <url-pattern>/RemoveCredential</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.google.webauthn.gaedemo.servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinishGetAssertion</display-name>
    <servlet-name>FinishGetAssertion</servlet-name>
    <servlet-class>com.google.webauthn.gaedemo.servlets.FinishGetAssertion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinishGetAssertion</servlet-name>
    <url-pattern>/FinishGetAssertion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSession</display-name>
    <servlet-name>CreateSession</servlet-name>
    <servlet-class>com.google.webauthn.gaedemo.servlets.CreateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSession</servlet-name>
    <url-pattern>/CreateSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSession</display-name>
    <servlet-name>GetSession</servlet-name>
    <servlet-class>com.google.webauthn.gaedemo.servlets.GetSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSession</servlet-name>
    <url-pattern>/GetSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCredential</display-name>
    <servlet-name>SaveCredential</servlet-name>
    <servlet-class>com.google.webauthn.gaedemo.servlets.SaveCredential</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCredential</servlet-name>
    <url-pattern>/SaveCredential</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value>com.google.webauthn.gaedemo.endpoints.Fido2RequestHandler</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
</web-app>
